header {
  background: #000000;
  color: white;
}


.nav {
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: black;
}

.nav-link {
  color: white!important;
}

.cart {
  position: fixed;
  right: 10px;
}

.cart__value {
  position: relative;
  top: -10px;
}

header h1 {
  font-size: 96px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: #777777;
  border-top: 1px solid white;
  padding-bottom: 46px;
  margin-top: 40px;
}